@model List<GroceryItem>
@{
    ViewData["Title"] = "Grocery List";
    var OtherCatQ=
        from item in Model
        where item.Category=="Other"
        select item;
    var ProduceCatQ=
        from item in Model
        where item.Category=="Produce"
        select item;
    var DairyCatQ=
        from item in Model
        where item.Category=="Dairy"
        select item;
    var DeliCatQ=
        from item in Model
        where item.Category=="Deli"
        select item;
    var CanCatQ=
        from item in Model
        where item.Category=="Canned Goods"
        select item;
    var CerealCatQ=
        from item in Model
        where item.Category=="Cereal"
        select item;
    var BakeryCatQ=
        from item in Model
        where item.Category=="Bakery"
        select item;
    var OtherStoreQ=
        from item in Model
        where item.Store=="Other"
        select item;
    var SafewayStoreQ=
        from item in Model
        where item.Store=="Safeway"
        select item;
    var RothsStoreQ=
        from item in Model
        where item.Store=="Roths"
        select item;
    var WareMartStoreQ=
        from item in Model
        where item.Store=="WareMart"
        select item;
    var BiMartStoreQ=
        from item in Model
        where item.Store=="BiMart"
        select item;
    var WalmartStoreQ=
        from item in Model
        where item.Store=="Walmart"
        select item;
    var MoCStoreQ=
        from item in Model
        where item.Store=="Market of Choice"
        select item;
}
<h1>@ViewData["Title"]</h1>
@if(SafewayStoreQ.Count()>0){
    <h2 class="text-center">Safeway</h2>

    <div>
    <h3>Produce:</h3>
    @foreach(var item in SafewayStoreQ){
        if (item.Category=="Produce"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Dairy:</h3>
    @foreach(var item in SafewayStoreQ){
        if (item.Category=="Dairy"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Deli:</h3>
    @foreach(var item in SafewayStoreQ){
        if (item.Category=="Deli"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Canned Goods:</h3>
    @foreach(var item in SafewayStoreQ){
        if (item.Category=="Canned Goods"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Cereal:</h3>
    @foreach(var item in SafewayStoreQ){
        if (item.Category=="Cereal"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Bakery:</h3>
    @foreach(var item in SafewayStoreQ){
        if (item.Category=="Bakery"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Other:</h3>
    @foreach(var item in SafewayStoreQ){
        if (item.Category=="Other"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    </div>
}
@if(RothsStoreQ.Count()>0){
    <h2 class="text-center">Roths</h2>

    <div>
    <h3>Produce:</h3>
    @foreach(var item in RothsStoreQ){
        if (item.Category=="Produce"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Dairy:</h3>
    @foreach(var item in RothsStoreQ){
        if (item.Category=="Dairy"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Deli:</h3>
    @foreach(var item in RothsStoreQ){
        if (item.Category=="Deli"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Canned Goods:</h3>
    @foreach(var item in RothsStoreQ){
        if (item.Category=="Canned Goods"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Cereal:</h3>
    @foreach(var item in RothsStoreQ){
        if (item.Category=="Cereal"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Bakery:</h3>
    @foreach(var item in RothsStoreQ){
        if (item.Category=="Bakery"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Other:</h3>
    @foreach(var item in RothsStoreQ){
        if (item.Category=="Other"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    </div>
}
@if(WareMartStoreQ.Count()>0){
    <h2 class="text-center">WareMart</h2>

    <div>
    <h3>Produce:</h3>
    @foreach(var item in WareMartStoreQ){
        if (item.Category=="Produce"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Dairy:</h3>
    @foreach(var item in WareMartStoreQ){
        if (item.Category=="Dairy"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Deli:</h3>
    @foreach(var item in WareMartStoreQ){
        if (item.Category=="Deli"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Canned Goods:</h3>
    @foreach(var item in WareMartStoreQ){
        if (item.Category=="Canned Goods"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Cereal:</h3>
    @foreach(var item in WareMartStoreQ){
        if (item.Category=="Cereal"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Bakery:</h3>
    @foreach(var item in WareMartStoreQ){
        if (item.Category=="Bakery"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Other:</h3>
    @foreach(var item in WareMartStoreQ){
        if (item.Category=="Other"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    </div>
}


@if(BiMartStoreQ.Count()>0){
    <h2 class="text-center">BiMart</h2>

    <div>
    <h3>Produce:</h3>
    @foreach(var item in BiMartStoreQ){
        if (item.Category=="Produce"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Dairy:</h3>
    @foreach(var item in BiMartStoreQ){
        if (item.Category=="Dairy"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Deli:</h3>
    @foreach(var item in BiMartStoreQ){
        if (item.Category=="Deli"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Canned Goods:</h3>
    @foreach(var item in BiMartStoreQ){
        if (item.Category=="Canned Goods"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Cereal:</h3>
    @foreach(var item in BiMartStoreQ){
        if (item.Category=="Cereal"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Bakery:</h3>
    @foreach(var item in BiMartStoreQ){
        if (item.Category=="Bakery"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Other:</h3>
    @foreach(var item in BiMartStoreQ){
        if (item.Category=="Other"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    </div>
}
@if(WalmartStoreQ.Count()>0){
    <h2 class="text-center">Walmart</h2>

    <div>
    <h3>Produce:</h3>
    @foreach(var item in WalmartStoreQ){
        if (item.Category=="Produce"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Dairy:</h3>
    @foreach(var item in WalmartStoreQ){
        if (item.Category=="Dairy"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Deli:</h3>
    @foreach(var item in WalmartStoreQ){
        if (item.Category=="Deli"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Canned Goods:</h3>
    @foreach(var item in WalmartStoreQ){
        if (item.Category=="Canned Goods"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Cereal:</h3>
    @foreach(var item in WalmartStoreQ){
        if (item.Category=="Cereal"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Bakery:</h3>
    @foreach(var item in WalmartStoreQ){
        if (item.Category=="Bakery"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Other:</h3>
    @foreach(var item in WalmartStoreQ){
        if (item.Category=="Other"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    </div>
}
@if(MoCStoreQ.Count()>0){
    <h2 class="text-center">Market of Choice</h2>

    <div>
    <h3>Produce:</h3>
    @foreach(var item in MoCStoreQ){
        if (item.Category=="Produce"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Dairy:</h3>
    @foreach(var item in MoCStoreQ){
        if (item.Category=="Dairy"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Deli:</h3>
    @foreach(var item in MoCStoreQ){
        if (item.Category=="Deli"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Canned Goods:</h3>
    @foreach(var item in MoCStoreQ){
        if (item.Category=="Canned Goods"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Cereal:</h3>
    @foreach(var item in MoCStoreQ){
        if (item.Category=="Cereal"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Bakery:</h3>
    @foreach(var item in MoCStoreQ){
        if (item.Category=="Bakery"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Other:</h3>
    @foreach(var item in MoCStoreQ){
        if (item.Category=="Other"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    </div>
}
@if(OtherStoreQ.Count()>0){
    <h2 class="text-center">Other</h2>

    <div>
    <h3>Produce:</h3>
    @foreach(var item in OtherStoreQ){
        if (item.Category=="Produce"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Dairy:</h3>
    @foreach(var item in OtherStoreQ){
        if (item.Category=="Dairy"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Deli:</h3>
    @foreach(var item in OtherStoreQ){
        if (item.Category=="Deli"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Canned Goods:</h3>
    @foreach(var item in OtherStoreQ){
        if (item.Category=="Canned Goods"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Cereal:</h3>
    @foreach(var item in OtherStoreQ){
        if (item.Category=="Cereal"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Bakery:</h3>
    @foreach(var item in OtherStoreQ){
        if (item.Category=="Bakery"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    <h3>Other:</h3>
    @foreach(var item in OtherStoreQ){
        if (item.Category=="Other"){
            <p> <span class="Item">@item.Name</span>  quantity: @item.Quantity @if(item.Coupon){<span>Coupon: @item.CouponDesc</span>
            }</p>
        }
    }
    </div>
}